.form {
    padding-top: 240px;
    padding-bottom: 150px;

    &__header {
        text-align: center;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: $black;

        margin-bottom: 20px;
    }

    &__text {
        font-size: 24px;
        font-weight: 700;
        color: $black;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: 580px;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        width: 270px;
        height: 57px;
        border: 1px solid $blue;
        padding: 18px 20px;

        margin-bottom: 50px;

        font-size: 16px;
        font-weight: 400;
        color: $black;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }
    }

    &__textarea {
        width: 100%;
        height: 290px;
        border: 1px solid $blue;
        resize: none;
        padding: 18px 20px;
        font-family: 'Inter';

        margin-bottom: 50px;


        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }

    }


}

@media (max-width: 620px) {
    .form__item{
        width: 100%;
    }
}