.news{
    padding-bottom: 150px;

    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        margin-bottom: 70px;
    }

    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    &__title{
        font-size: 24px;
        font-weight: 700;
        color: $black;
        padding-right: 20px;
    }

    &__img{
        display: block;
        max-width: 100%;
        margin: 0 auto 20px;
    }

    &__btn{
        display: inline-block;
        color: $white;
        background-color: $blue;
        padding: 4px 20px;
        text-decoration: none;
    }
}

@media (max-width: 1200px) {
    .news__title{
        font-size: 20px;

    }
}


@media (max-width: 991px) {
    .news__title{
        font-size: 18px;

    }
}

@media (max-width: 768px) {
    .news__inner{
        grid-template-columns: repeat(1, 1fr);
    }

    .news__item{
        max-width: 580px;
        width: 100%;
        margin: 0 auto;
    }
}