.news{
    padding-bottom: 150px;

    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        margin-bottom: 70px;
    }

    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    &__title{
        font-size: 24px;
        font-weight: 700;
        color: $black;
    }

    &__img{
        display: block;
        max-width: 100%;
        margin: 0 auto 20px;
    }

    &__btn{
        display: inline-block;
        color: $white;
        background-color: $blue;
        padding: 4px 20px;
        text-decoration: none;
    }
}